uni_modules/
unpackage/
node_modules/
.vscode/
.idea/
*.log
*.swp
.DS_Store
Thumbs.db
build/
dist/
*.sublime-project
*.sublime-workspace
*.suo
*.tmp
*.bak
*.orig
*.pyc
*.class
*.DS_Store
*.env
.env.development.local
